{% extends "@AvanzuAdminTheme/layout/form-theme.html.twig" %}

{% block form_label %}
    {% if form.vars.documentation is defined and form.vars.documentation is not empty %}
        <a href="{{ path('help_chapter', {'chapter': form.vars.documentation}) }}"><i class="{{ 'help'|icon }}"></i></a>
    {% endif %}
    {{ parent() }}
{% endblock form_label %}
