{% extends 'about/layout.html.twig' %}

{% block about %}

<div class="box">
    <div class="box-body about_license">

        <pre>
            {{ license }}
        </pre>
        <p>
            <a href="https://choosealicense.com/licenses/mit/" target="_blank">choosealicense.com</a>,
            <a href="https://en.wikipedia.org/wiki/MIT_License" target="_blank">wikipedia.org</a>
        </p>

    </div>
</div>

{% endblock %}
