{% extends '@AdminLTE/FOSUserBundle/Security/login.html.twig' %}

{% block logo_login %}{% include 'partials/logo_login.html.twig' %}{% endblock %}
{% block title %}{{ 'browser.title'|trans }}{% endblock %}

{% block login_box_icon %}
    <span class="glyphicon glyphicon-user"></span>
{% endblock %}

{% block head %}
    {{ parent() }}
    {% include 'partials/head.html.twig' %}
{% endblock %}

{% block stylesheets %}
    {# we do not call parent() as we use a custom built for the frontend assets and don't want the default <stylesheet> #}
    <link rel="stylesheet" href="{{ asset('build/app.css') }}">
{% endblock %}
