{% extends kimai_context.modalRequest ? 'form.html.twig' : 'base.html.twig' %}
{% import "macros/widgets.html.twig" as widgets %}

{% block main %}
<div class="row">
    <div class="col-md-6">
        {% include 'team/member-form.html.twig' %}
    </div>
    <div class="col-md-6">
        {% set formEditTemplate = kimai_context.modalRequest ? 'default/_form_modal.html.twig' : 'default/_form.html.twig' %}

        {% if customerForm is defined and customerForm is not null %}
            {{ include(formEditTemplate, {
                'title': 'teams.customer_access'|trans({}, 'teams'),
                'form': customerForm,
            }) }}
        {% endif %}

        {% if projectForm is defined and projectForm is not null %}
            {{ include(formEditTemplate, {
                'title': 'teams.project_access'|trans({}, 'teams'),
                'form': projectForm,
            }) }}
        {% endif %}
    </div>
</div>
{% endblock %}
