; top-most EditorConfig file
root = true

; Unix-style newlines
[*]
end_of_line = lf
charset = utf-8

[*.php]
indent_style = space
indent_size = 4

[*.yaml]
indent_style = space
indent_size = 4

[*.yml]
indent_style = space
indent_size = 4
