#================================================================================
# READ THIS FIRST: https://www.kimai.org/documentation/local-yaml.html
#================================================================================

# Configure your database connection and the correct server version - find it with: SELECT VERSION();
DATABASE_URL=mysql://user:password@127.0.0.1:3306/database?charset=utf8mb4&serverVersion=10.5.8-MariaDB

###> symfony/framework-bundle ###
# only change to "dev" if you are developing with/for Kimai
APP_ENV=prod
# You MUST change this to a long and random character sequence, e.g.: php -r 'echo bin2hex(random_bytes(32));'
APP_SECRET=
APP_SHARE_DIR=var/share
###< symfony/framework-bundle ###

###> symfony/routing ###
# Configure how to generate URLs in non-HTTP contexts, such as CLI commands.
# See https://symfony.com/doc/current/routing.html#generating-urls-in-commands
DEFAULT_URI=https://127.0.0.1:8000
###< symfony/routing ###

# SECURITY WARNING: you SHOULD configure the allowed domain names for your installation
# TRUSTED_HOSTS=localhost|example.com
# Running behind reverse proxies?
# TRUSTED_PROXIES=127.0.0.1,127.0.0.2

###> symfony/mailer ###
# Documentation at https://www.kimai.org/documentation/emails.html
MAILER_FROM=kimai@example.com
# Email connection (disabled by default) - see documentation for the format
MAILER_URL=null://null
###< symfony/mailer ###

# Running behind reverse proxies? Try these:
# TRUSTED_PROXIES=127.0.0.1,127.0.0.2

###> nelmio/cors-bundle ###
# regexp to define allowed frontend origins for API requests
CORS_ALLOW_ORIGIN='^https?://(localhost|127\.0\.0\.1)(:[0-9]+)?$'
###< nelmio/cors-bundle ###

###> symfony/messenger ###
MESSENGER_TRANSPORT_DSN=doctrine://default?auto_setup=0
###< symfony/messenger ###
