### DATABASE CONFIGURATION
#   Replace "user", "password" and "database" with your database connection.
#   Configure the server version, MariaDB requires the "mariadb-" prefix, eg:
#     for MySQL "serverVersion=5.7" and for MariaDB "serverVersion=mariadb-10.5.8"
DATABASE_URL=mysql://user:password@127.0.0.1:3306/database?charset=utf8&serverVersion=5.7

### EMAIL CONFIGURATION
#   Emails will be sent "from":
MAILER_FROM=kimai@example.com

# Email connection (disabled by default with MAILER_URL=null://null)
#   SMTP: smtp://localhost:25?encryption=&auth_mode=
#   Google: gmail://username:password@default
#   Amazon: ses://ACCESS_KEY:SECRET_KEY@default?region=eu-west-1
#   Mailchimp: mandrill://KEY@default
#   Mailgun: mailgun://KEY:DOMAIN@default
#   Postmark: postmark://ID@default
#   Sendgrid: sendgrid://KEY@default
#   Disable emails: null://null
MAILER_URL=null://null

### APPLICATION CONFIGURATION
APP_ENV=prod
APP_SECRET=change_this_to_something_unique

#   Running in a "special" environment, eg. behind reverse proxies?
#   Check those:
#     TRUSTED_PROXIES=127.0.0.1,127.0.0.2
#     TRUSTED_HOSTS=localhost,example.com
CORS_ALLOW_ORIGIN=^https?://localhost(:[0-9]+)?$
