###> symfony/framework-bundle ###
.env
/public/bundles/
/vendor/
###< symfony/framework-bundle ###

###> symfony/web-server-bundle ###
.web-server-pid
###< symfony/web-server-bundle ###

# ========== KIMAI ==========
/bin/*
!bin/console

/public/theme/

/var/data/*.sqlite

/var/cache/*
!var/cache/.gitkeep

/var/log/*
!var/log/.gitkeep

/var/sessions/*
!var/sessions/.gitkeep
# ========== KIMAI ==========

# IDE
.idea/

###> phpunit/phpunit ###
/phpunit.xml
###< phpunit/phpunit ###

###> friendsofphp/php-cs-fixer ###
.php_cs
.php_cs.cache
###< friendsofphp/php-cs-fixer ###
