# ========== KIMAI ==========
# some hosters require a htaccess to change the PHP version
.htaccess

.idea/
.DS_Store

# for symfony local webserver
php.ini

/bin/*
!bin/console
/config/packages/local.yaml
/config/packages/*-local.yaml
/config/packages/*/local.yaml
/config/packages/*/*-local.yaml

public/avatars/*.png

templates/invoice/renderer/.~lock*

/var/data/*
!/var/data/.gitkeep
!/var/data/kimai_test.sqlite
/var/coverage/
/var/cache/*
!var/cache/.gitkeep

/var/invoices/*
/var/export/*

/var/packages/*
!var/packages/.gitkeep
/var/plugins/*
!var/plugins/.gitkeep

/var/log/*
!var/log/.gitkeep

/var/sessions/*
!var/sessions/.gitkeep
# ========== KIMAI ==========

###> symfony/framework-bundle ###
.env
/public/bundles/
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
/.phpunit.result.cache
###< phpunit/phpunit ###

###> friendsofphp/php-cs-fixer ###
.php_cs
.php_cs.cache
###< friendsofphp/php-cs-fixer ###

###> symfony/phpunit-bridge ###
.phpunit
/phpunit.xml
###< symfony/phpunit-bridge ###

###> symfony/webpack-encore-bundle ###
/node_modules/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###
/nbproject/*