includes:
    - vendor/phpstan/phpstan-symfony/extension.neon
    - vendor/phpstan/phpstan-doctrine/extension.neon
    - vendor/phpstan/phpstan-symfony/rules.neon
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon

parameters:
    tmpDir: %rootDir%/../../../var/cache/phpstan
    ignoreErrors:
        - '#Method Symfony\\Contracts\\EventDispatcher\\EventDispatcherInterface::dispatch\(\) invoked with 2 parameters, 1 required.#'
    excludes_analyse:
        - %rootDir%/../../../src/Ldap/LdapDriver.php
    treatPhpDocTypesAsCertain: false
    inferPrivatePropertyTypeFromConstructor: true