<?xml version="1.0" encoding="UTF-8"?>

<!-- https://phpunit.de/manual/current/en/appendixes.configuration.html -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/6.1/phpunit.xsd"
         backupGlobals="false"
         colors="true"
         bootstrap="vendor/autoload.php"
>
    <php>
        <ini name="error_reporting" value="-1" />
        <ini name="intl.default_locale" value="en_US" />
        <env name="KERNEL_CLASS" value="App\Kernel" force="true"/>
        <env name="APP_ENV" value="test" force="true"/>
        <env name="APP_DEBUG" value="1" force="true"/>
        <env name="APP_SECRET" value="5a79a1c866efef9ca1800f971d689f3e" force="true"/>
        <env name="DATABASE_PREFIX" value="kimai2_" force="true"/>
        <!-- define your env variables for the test env here -->

        <env name="SYMFONY_DEPRECATIONS_HELPER" value="weak"/>

        <!-- ###+ doctrine/doctrine-bundle ### -->
        <env name="DATABASE_URL" value="sqlite:///var/data/kimai_test.sqlite" force="true"/>
        <!-- ###- doctrine/doctrine-bundle ### -->

        <!-- ###+ symfony/swiftmailer-bundle ### -->
        <env name="MAILER_URL" value="null://localhost" force="true"/>
        <!-- ###- symfony/swiftmailer-bundle ### -->
    </php>

    <testsuites>
        <testsuite name="Kimai">
            <directory>tests/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src/</directory>
            <directory suffix=".php">templates/</directory>
            <exclude>
                <directory suffix=".php">assets/</directory>
                <directory suffix=".php">bin/</directory>
                <directory suffix=".php">config/</directory>
                <directory suffix=".php">node_modules/</directory>
                <directory suffix=".php">public/</directory>
                <directory suffix=".php">tests/</directory>
                <directory suffix=".php">translations/</directory>
                <directory suffix=".php">var/</directory>
                <directory suffix=".php">vendor/</directory>
            </exclude>
        </whitelist>
    </filter>

    <listeners>
        <!-- it begins a database transaction before every testcase and rolls it back after
             the test finished, so tests can manipulate the database without affecting other tests -->
        <listener class="DAMA\DoctrineTestBundle\PHPUnit\PHPUnitListener" />
        <listener class="Symfony\Bridge\PhpUnit\SymfonyTestsListener" />
    </listeners>
</phpunit>