<h3 class="control-sidebar-heading">{{ 'preferences.title'|trans({}, 'sidebar') }}</h3>
<div class="form-group">
    <label class="control-sidebar-subheading">
        {{ 'preferences.label.language'|trans({}, 'sidebar') }}
        <select class="pull-right" onchange="window.location.href = this.options[this.selectedIndex].value;">
            {% for locale in locales() %}
                <option value="{{ path(app.request.get('_route', 'homepage'), app.request.get('_route_params', [])|merge({ _locale: locale.code })) }}" {% if app.request.locale == locale.code %}selected="selected"{% endif %}>{{ locale.name|capitalize }}</option>
            {% endfor %}
        </select>
    </label>
</div>
