{% set logo = config('theme.branding.logo') %}
{% set company = config('theme.branding.company') %}
{% if logo is not empty %}
    <img src="{{ logo }}" style="max-width: 300px;">
{% elseif company is not empty %}
    <p>{{ company }}</p>
{% else %}
    <p>{{ get_title('', '<br>')|raw }}</p>
{% endif %}
