/*
 * This file is part of the Kimai time-tracking app.
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */

$modal-backdrop-opacity: 0.6 !default;

@import '~@tabler/core/src/scss/tabler';
@import '~@tabler/core/src/scss/vendor/litepicker';
@import '~@tabler/core/src/scss/vendor/tom-select';

/**
 * Everyone needs icons
 */

$fa-font-path: "~@fortawesome/fontawesome-free/webfonts/";

@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';

/**
 * Kimai specific additions
 */

@import "kimai";
