/*
 * This file is part of the Kimai time-tracking app.
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */

$modal-backdrop-opacity: 0.7 !default;

@import "~@tabler/core/scss/config";

/*
    THIS DOES NOT WORK AS EXPECTED, AS TABLER IS NOT REGENERATED HERE.
    SO WE CANNOT CHANGE VARIABLES, LIKE THE ABOVE...
*/
@import '~@tabler/core/dist/css/tabler.rtl.css';
@import '~@tabler/core/dist/css/tabler-themes.rtl.css';

@import '~tom-select/dist/scss/tom-select';
@import '~tom-select/dist/scss/tom-select.bootstrap5';

@import '~@tabler/core/dist/css/tabler-vendors.rtl.css';

/**
 * Everyone needs icons
 */
$fa-font-path: "~@fortawesome/fontawesome-free/webfonts/";
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';

/**
 * Kimai related stuff
 */
@import "kimai";
@import "rtl";
