.popover-content {
    .calendar-entry {
        ul {
            padding: 0;
            list-style-type: none;
        }
    }
}

.fc-bootstrap3 {
    .table-bordered > tbody > tr > td,
    .table-bordered > thead > tr > td,
    .table-bordered > thead > tr > th {
        border: 1px solid #ddd;
    }
    .fc-head {
        background-color: #fafafa;
    }
    td.fc-today {
        background-color: #fcf8e3!important;
    }
}