/*
 * This file is part of the Kimai time-tracking app.
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */

span.label-color,
span.label-meta,
span.label-activity,
span.label-project,
span.label-customer {
    display: inline-block;
    .dot {
        height: 10px;
        width: 10px;
        background-color: $gray-lte;
        border-radius: 50%;
        display: inline-block;
    }
}

table.dataTable {
    /* action column */
    .actions {
        width: 90px;
        li.delete a {
            color: #dd4b39;
        }
    }
    tr {
        /* summary row - provided in the users own timesheet table */
        &.summary td {
            font-weight: bold;
            border-bottom: 1px solid #ccc;
        }
        &.open-edit {
            cursor: pointer;
        }
    }
    td {
        /*
            Make sure that the action buttons do not line-break if another column takes all available space
            See https://github.com/twbs/bootstrap/issues/9939#issuecomment-37682952
         */
        .btn-group {
            display: flex;
        }
        .label {
            font-size: 85%;
            font-weight: 500;
            padding: .3em .6em .3em;
        }
        span.label-activity,
        span.label-project,
        span.label-customer {
            a {
                color: unset;
                padding-bottom: 2px;
                border-bottom: 1px dotted $gray-lte;
                &:hover {
                    border-bottom: 1px dotted darken($gray-lte, 20);
                }
            }
        }
        span.label-invisible {
            opacity: 0.8;
        }
    }
}
