/*
 * This file is part of the Kimai time-tracking app.
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */

@import "variables";

table.dataTable.table > tbody > tr > td {
    vertical-align: middle;
    .img-circle {
        width: 30px;
        height: 30px;
        margin-right: 0;
        &.teamlead {
            box-shadow: 0 0 5px 3px $gray-lte;
        }
    }
}

span.label-color,
span.label-meta,
span.label-tag,
span.label-user,
span.label-activity,
span.label-project,
span.label-customer {
    display: inline-block;
    .name {
        white-space: nowrap;
        .name-inner {
            white-space: normal;
        }
    }
    .dot {
        font-size: 9px;
        margin-right: 3px;
        color: $gray-lte;
    }
}

table.dataTable {
    /* action column */
    .actions {
        width: 40px;
    }
    tr {
        /* summary row - provided in the users own timesheet table */
        &.summary td {
            font-weight: bold;
            border-bottom: 1px solid #ccc;
            background-color: #eaeaea;
        }
        th.multiCheckbox {
            width: 15px;
        }
        &.overlapping {
            border-top: 2px solid rgba(255, 0, 0, 0.1);
        }
        &.exported {
            opacity: 0.7;
        }
    }
    td {
        /*
            Make sure that the action buttons do not line-break if another column takes all available space
            See https://github.com/twbs/bootstrap/issues/9939#issuecomment-37682952
         */
        .btn-group {
            display: flex;
        }
        .label {
            font-size: 85%;
            padding: .3em .6em .3em;
            line-height: 24px;
        }
        span.label-activity,
        span.label-project,
        span.label-customer {
            a {
                color: unset;
                padding-bottom: 2px;
                border-bottom: 1px dotted $gray-lte;
                &:hover {
                    border-bottom: 1px dotted darken($gray-lte, 20);
                }
            }
        }
        span.label-invisible {
            opacity: 0.8;
        }
    }
    tfoot {
        tr {
            /* overwritten if used in tfoot, to switch the border from below to top */
            &.summary td {
                border-top: 1px solid #ccc;
                border-bottom: 0;
            }
        }
    }
    th.weekend,
    td.weekend {
        background-color: #f9f9f9;
    }
    /* order is important, "today” should overwrite "weekend" therefor later in the file */
    th.today,
    td.today {
        background-color: $highlight-today;
    }
    th.total,
    td.total {
        font-weight: bold;
    }
}

/* Quick entry form */
.form-dataTable {
    table.dataTable {
        .form-group {
            margin-bottom: 0;
        }
    }
}

table.table-hover {
    tr {
        &.exported {
            &:hover {
                opacity: 1.0;
            }
        }
    }
}
