@import '~daterangepicker/daterangepicker.css';

.drp-calendar {
    .calendar-table {
        td.today:not(.active) {
            background-color: lighten(#357ebd, 40);
            color: #357ebd;
        }
        select.yearselect{
            width: unset;
        }
    }
}
