/*
 * This file is part of the Kimai time-tracking app.
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */

.markdown-body {
    h1, h2, h3, h4, h5, h6 {
        a.anchor {
            float: left;
            font-size: 0.5em;
            margin-left: -1em;
            padding-top: 0.5em;
            color: $text-color;
            display: none;
        }
    }
}

@media (min-width: $screen-sm-min) {
    .markdown-body {
        padding-left: 25px;
    }
}
