/* bootstrap thead.sticky-top has z-index 1020 and the reporting form dropdowns hide behind that */
.checkbox-menu.show {
    z-index: 1021;
}

/* make sure that at least xx:yy fits into the widget */
.duration-widget {
    .input-group {
        min-width: 110px;
    }
    input.duration-input {
        min-width: 55px;
    }
}

#report-form {
    div.btn-list {
        width: 100%;
        div.selectpicker {
            min-width: 200px;
            max-width: 400px;
        }

        li.dropdown-item {
            .form-check {
                margin-bottom: 0;
            }
        }
    }
}

.color-choice-item {
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-right: 10px;
    border-radius: var(--tblr-border-radius);
}