/* bootstrap thead.sticky-top has z-index 1020 and the reporting form dropdowns hide behind that */
.checkbox-menu.show {
    z-index: 1021;
}

/* make the dropdowns smaller in quick-entries form */
#quick_entry_box .btn-duration-preset {
    padding: 7px 6px 7px 3px;
}