/*
 * This file is part of the Kimai time-tracking app.
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */

.navbar-nav {
    li>a.ddt-large {
        padding: 16px 12px 11px 12px;
        font-size: 10px;
    }
    li.messages-menu ul.menu li .pull-left i {
        color: #dd4b39;
    }
    .messages-menu>.dropdown-menu>li .menu>li>a>p {
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .start_record {
        text-align: center;
    }
    .dropdown-menu {
        box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        max-width: 90vw;
        width: unset !important;
    }
    .user-menu {
        margin-right: 10px;
        ul {
            li {
                a {
                    color: #444;
                    i {
                        padding-right: 10px;
                    }
                }
                hr {
                    margin: 0;
                }
            }
        }
    }
}

@media (max-width: $screen-sm-min) {
    .navbar-custom-menu>.navbar-nav>li>.dropdown-menu {
        right: 0;
    }
    .navbar-nav .user-menu {
        margin-right: 0;
    }
    .navbar-nav .user-menu.open .dropdown-menu > li > a {
        padding: 5px 25px 5px 25px
    }
}

/*
.ticktac:hover i.running{
    color: #4ff131;
}

li.open .ticktac i.running{
    color: #4ff131;
}

.ticktac i.stopped{
    color: #fff;
}

.ticktac:hover i.stopped{
    color: #4ff131;
}
.user-panel>.info {
    left: 40px;
    padding-top: 0px;
}
*/
