/*
 * This file is part of the Kimai time-tracking app.
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */

@media print{
    .sf-toolbar, .control-sidebar {display: none !important;}
}
