.dataTable {
    .weekend {
        background-color: #f9f9f9;
        opacity: 0.6;
    }
}

.form-reporting .box-header .form-group {
    margin-right: 10px;
    label {
        font-size: $font-size-base;
    }
}