
/* bootstrap thead.sticky-top has z-index 1020 and tomselect dropdowns often hide behind that */
.ts-dropdown {
    z-index: 1021;
}

/* can be removed if no error is reported. it is unknown why this was added */
/*
.ts-control {
    > input {
        min-width: unset;
    }
}
*/

.ts-dropdown {
    .optgroup {
        [data-selectable].option {
            padding-left: 20px;
        }
    }
}
