@import '~tom-select/dist/scss/tom-select.bootstrap5';

/* bootstrap thead.sticky-top has z-index 1020 and tomselect dropdowns often hide behind that */
.ts-dropdown {
    z-index: 1021;
}

.ts-control {
    > input {
        min-width: unset;
    }
    .item {
        white-space: nowrap!important;
    }
}

.ts-dropdown {
    .optgroup-header {
        background-color: #eee;
        color: #000;
        font-weight: 600;
    }
    [data-selectable].option {
        padding-left: 20px;
    }
}
