/*
 * This file is part of the Kimai time-tracking app.
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */

@media (min-width: $screen-sm-min) {
    .sidebar-mini.sidebar-collapse .sidebar-menu li.header {
        border-top-width: 1px;
        border-top-style: solid;
        display: block !important;
        margin-top: 16px;
        opacity: 0.4;
        span {
            display: none !important;
        }
    }
}
