
$skins:
    "blue" $yellow #fff $yellow $red,
    "black" $yellow #000 $green $red,
    "green" $yellow #fff $yellow $red,
    "purple" $yellow #fff $yellow $red,
    "red" $yellow #fff $yellow $yellow,
    "yellow" $blue #fff $green $red
;

@each $skinColor, $navHighlight, $tickTacColor, $startButton, $stopButton in $skins {
    @each $prefix in (".skin-#{$skinColor}", ".skin-#{$skinColor}-light") {
        @media (max-width: $screen-sm-max) {
            #{$prefix} {
                .main-header .navbar .dropdown-menu li.divider {
                    background-color: #ccc;
                }

                .main-header .navbar .dropdown-menu li a {
                    color: #444;
                }

                .main-header .navbar .dropdown-menu li a:hover {
                    background: #fff;
                }
            }
        }
        #{$prefix} {
            .navbar-nav {
                .user-menu {
                    ul {
                        li {
                            a {
                                &:hover {
                                    i {
                                        color: $navHighlight;
                                    }
                                }
                            }
                        }
                    }
                }
                .notifications-menu > .dropdown-menu > li .menu > li > a:hover i {
                    color: $navHighlight;
                }
            }
            .ticktac-single {
                i {
                    color: $tickTacColor;
                }
                span {
                    color: $tickTacColor;
                }
                &:hover {
                    .ticktac-stop {
                        i {
                            color: $stopButton;
                        }
                    }
                    .ticktac-start {
                        i {
                            color: $startButton;
                        }
                    }
                }
            }
        }
    }
}