/* fix for vertical labels in date-time pickers, if they are used in half-column forms, e.g. "create tasks" or "create expenses" */
fieldset legend.col-form-label {
    padding-top: 0;
}

/* See project assignment to teams */
fieldset.form-fieldset > legend {
    font-size: 1rem;
    font-weight: bold;
}

/* Fixing the margin between the divider and items in context menu or dropdowns with optgroups  */
.ts-dropdown .optgroup:before {
    --tblr-spacer: .5rem;
}
.dropdown-divider {
    --tblr-dropdown-divider-margin-y: .5rem;
}

/* fix translucent scroll border (e.g. timesheet modal duration dropdown) - see https://github.com/tabler/tabler/issues/1606 */
.dropdown-menu {
    background-clip: border-box;
}

/* hide empty fieldset - see https://github.com/tabler/tabler/issues/1650 */
fieldset:empty {
    display: none;
}

:host,:root,[data-bs-theme=light] {
    /* remove the shadow from all form element groups */
    --tblr-box-shadow-input: none;
}

.navbar[data-bs-theme=dark] {
    /* give navigation elements slightly higher contrast */
    --tblr-navbar-color: hsla(0,0%,100%,.8);
}

/* this is not a bugfix, but it adds a border for better visual segregation */
.nav-pills .nav-link.active {
    border-width: 1px;
    border-style: solid;
}

[data-bs-theme=dark] {
    /* fixes  https://github.com/tabler/tabler/issues/1974 */
    .litepicker .container__days .day-item.is-in-range {
        --litepicker-is-in-range-color: var(--tblr-primary-text-emphasis);
    }
}

/* fixes contrast of batch-update checkboxes - https://github.com/kimai/kimai/issues/5146 */
.multiupdater[type=checkbox]
{
    --tblr-border-color-translucent: rgba(4, 32, 69, .2);
}

/* fixes height for long tags https://github.com/kimai/kimai/issues/5169 */
.tag {
    --tblr-tag-height: unset;
}