@import "@tabler/core/src/scss/variables";

/* fix for vertical labels in date-time pickers, if they are used in half-column forms, e.g. "create tasks" or "create expenses" */
fieldset legend.col-form-label {
    padding-top: 0;
}

/* See project assignment to teams */
fieldset.form-fieldset legend {
    font-size: 1rem;
    font-weight: bold;
}