/*
These should be posted as PR in tabler direct
See https://github.com/tabler/tabler/issues/945
*/
@include dark-mode {
    /* see Dashboard User widget title => links to User screen */
    .link-dark {
        color: $dark-mode-text;
    }
}

/* all icon buttons */
.btn-icon i.icon {
    font-size: 16px;
    color: $text-muted;
    padding-top: 2px;
}

.btn-group .btn.btn-icon {

}