/*
 * This file is part of the Kimai time-tracking app.
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */

.toolbar-pad {
    padding: 10px;
}

/* The filter form is available on most pages above the datatable */
@media (min-width: $screen-sm-min) {
    .toolbar {
        form.navbar-form {
            font-size: $font-size-base;
            .form-control {
                display: inline-block;
                width: 100%;
                vertical-align: middle;
            }
            .control-label {
                width: 100%;
            }
            .input-group {
                width: 100%;
            }
        }
    }
    .toolbar-pad {
        padding: 10px 0;
    }
}

