includes:
    - %rootDir%/../phpstan-symfony/extension.neon
    - %rootDir%/../phpstan-symfony/rules.neon
    - %rootDir%/../phpstan-doctrine/extension.neon
    - %rootDir%/../phpstan-doctrine/rules.neon
    - %rootDir%/../phpstan-phpunit/extension.neon
    - %rootDir%/../phpstan-phpunit/rules.neon

parameters:
    tmpDir: %rootDir%/../../../var/cache/phpstan
    excludePaths:
        - %rootDir%/../../../tests/Ldap/LdapDriverTest.php
    inferPrivatePropertyTypeFromConstructor: true
    doctrine:
        objectManagerLoader: %rootDir%/../../../tests/phpstan-doctrine.php
