includes:
    - %rootDir%/../phpstan-symfony/extension.neon
    - %rootDir%/../phpstan-doctrine/extension.neon
    - %rootDir%/../phpstan-phpunit/extension.neon

parameters:
    ignoreErrors:
        - '#Access to an undefined property Faker\\Generator::\$stateAbbr.#'
        - '#Access to an undefined property Faker\\Generator::\$catchPhrase.#'
        - '#Access to an undefined property Faker\\Generator::\$bs.#'
        - '#Call to static method PHPUnit\\Framework\\Assert::assertSame\(\) with App\\Entity\\[a-zA-Z0-9]+ and null will always evaluate to false.#'
    excludes_analyse:
        - %rootDir%/../../../tests/Ldap/LdapDriverTest.php
    inferPrivatePropertyTypeFromConstructor: true