includes:
    - %rootDir%/../phpstan-symfony/extension.neon
    - %rootDir%/../phpstan-symfony/rules.neon
    - %rootDir%/../phpstan-doctrine/extension.neon
    - %rootDir%/../phpstan-doctrine/rules.neon
    - %rootDir%/../phpstan-phpunit/extension.neon
    - %rootDir%/../phpstan-phpunit/rules.neon

parameters:
    tmpDir: %rootDir%/../../../var/cache/phpstan
    ignoreErrors:
        - '#Call to static method PHPUnit\\Framework\\Assert::assertSame\(\) with App\\Entity\\[a-zA-Z0-9]+ and null will always evaluate to false.#'
    excludePaths:
        - %rootDir%/../../../tests/Ldap/LdapDriverTest.php
    inferPrivatePropertyTypeFromConstructor: true
    doctrine:
        objectManagerLoader: %rootDir%/../../../tests/phpstan-doctrine.php
