<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    {{ encore_entry_link_tags('app') }}
    {{ encore_entry_script_tags('app') }}
    {% block styles %}{% endblock %}
</head>
<body class="pad export_print">
<div class="wrapper">
    <section class="export">
        {% block export %}{% endblock %}
    </section>
</div>
{% block javascripts %}{% endblock %}
</body>
</html>
