{% extends kimai_context.modalRequest ? 'form.html.twig' : 'base.html.twig' %}

{% block main %}
    {% set formEditTemplate = kimai_context.modalRequest ? 'default/_form_modal.html.twig' : 'default/_form.html.twig' %}
        {% set formOptions = {
            'title': 'create'|trans,
            'form': form,
            'back': path('export_template_create')
        } %}
        {% embed formEditTemplate with formOptions %}
            {% block form_body %}
                <div class="row">
                    <div class="col-md-9">
                        {{ form_row(form.title) }}
                    </div>
                    <div class="col-md-3">
                        {{ form_row(form.renderer) }}
                    </div>
                </div>
                {{ form_row(form.language) }}
                {{ form_rest(form) }}
            {% endblock %}
        {% endembed %}
{% endblock %}
