# This file defines the canonical configuration parameters of the application.
# Symfony uses this file as a template to generate the real app/config/parameters.yml
# used by the application.
# See http://symfony.com/doc/current/best_practices/configuration.html#canonical-parameters
parameters:

    # Define the database connection string
    database_url: 'sqlite:///%kernel.root_dir%/data/timesheet.sqlite'
    # database_url: 'mysql://root:pass@127.0.0.1:3306/timesheet'

    # You can prefix all your tables to pevent collision with other software
    database_prefix: kimai_

    # You can create the database and load the sample data from the command line:
    #
    # php bin/console doctrine:database:create
    # php bin/console doctrine:schema:create
    # php bin/console doctrine:fixtures:load

    # If you don't use a real mail server, you can send emails via your Gmail account.
    # see http://symfony.com/doc/current/cookbook/email/gmail.html
    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~
    mailer_from:       anonymous@example.com

    # The code of the default language used by the application ('en' = English)
    locale: en

    # The 'secret' value is a random string of characters, numbers and symbols
    # used internally by Symfony in several places (CSRF tokens, URI signing,
    # 'Remember Me' functionality, etc.)
    # see: http://symfony.com/doc/current/reference/configuration/framework.html#secret
    secret: 'please_change_this_secret_to_something_unique'
