{% import "AvanzuAdminThemeBundle:layout:macros.html.twig" as macro %}
<!-- Sidebar user panel -->
<div class="user-panel">
    <div class="pull-left image">
        <a href="#" id="ticktac">
            <img src="{{ asset('images/buzzer-on.png') }}"/>
        </a>
    </div>
    <div class="pull-left info">
        <p>10:39:05</p>
    </div>
</div>
