/*
 * This file is part of the Kimai time-tracking app.
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */

.invoice {
    margin: 0;
}

@media (min-width: $screen-sm-min) {
    .invoice {
        margin: 10px 25px;
    }
}

.page-header-small{
    font-size: 14px;
}

div.invoice-address {
    margin-top: 30px;
    margin-bottom: 30px;
}

table.invoice-records {}
table.invoice-meta th {
    padding-right: 40px;
}
table.invoice-sum th {
    width: 70%;
}
table.invoice-sum th, table.invoice-sum td  {
    text-align: right;
}
