/*
 * This file is part of the Kimai time-tracking app.
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */

/* Page based action buttons in the upper right corner of the content area */
.content-header > .breadcrumb {
    position: absolute;
    float: right;
    background: transparent;
}
/* Right sidebar with additional tabs for personal settings and "About Kimai" section */
.control-sidebar {
    select {
        color: $input-color;
        background-color: $input-bg;
    }
    div.image {
        img.img-circle {
            max-width: 34px;
        }
    }
}
/* The filter form available on most pages above the datatable */
.toolbar form {
    font-size: $font-size-base;
}
