# yaml-language-server: $schema=../vendor/symfony/routing/Loader/schema/routing.schema.json

# This file is the entry point to configure the routes of your app.
# Methods with the #[Route] attribute are automatically imported.
# See also https://symfony.com/doc/current/routing.html

# To list all registered routes, run the following command:
#   bin/console debug:router

controllers:
#    resource: routing.controllers
    resource: ../src/Controller/
    type: attribute
    prefix: /{_locale}
    defaults:
        _locale: '%locale%'

api.swagger_ui:
    path: /api/doc
    methods: GET
    defaults:
        _controller: nelmio_api_doc.controller.stoplight

api:
    resource: ../src/API/
    type: attribute
    prefix: /api

auth:
    resource: ../src/Controller/Auth/
    type: attribute
    prefix: /auth

security:
    resource: ../src/Controller/Security/
    type: attribute
    prefix: /{_locale}
    defaults:
        _locale: '%locale%'

kernel:
    resource: ../src/Kernel.php
    type: attribute

home:
    path: /
    defaults:
        _controller: Symfony\Bundle\FrameworkBundle\Controller\RedirectController::redirectAction
        route: homepage
        permanent: true

homeLocale:
    path: /{_locale}
    defaults:
        _controller: Symfony\Bundle\FrameworkBundle\Controller\RedirectController::redirectAction
        _locale: '%locale%'
        route: homepage
        permanent: true

2fa_login:
    path: /{_locale}/auth/2fa
    defaults:
        _controller: "scheb_two_factor.form_controller::form"

2fa_login_check:
    path: /{_locale}/auth/2fa_check
