{% extends 'wizard/layout.html.twig' %}
{% from '@Tabler/components/button.html.twig' import button %}

{% block wizard_content %}
    <div class="card-body text-center py-4 p-sm-7">
        <img src="{{ asset('wizard/done.png') }}" height="120" class="mb-n2" alt="Illustration by Katerina Limpitsouni from https://undraw.co/">
        <h1 class="mt-5">{{ 'wizard.done.title'|trans({}, 'wizard') }}</h1>
        <p class="text-body-secondary">{{ 'wizard.done.description'|trans({}, 'wizard') }}</p>
    </div>
{% endblock %}

{% block wizard_next_button %}
    {{ button(false, { title : 'Next'|trans({}, 'TablerBundle'), combined: true, url: path('homepage') }, 'primary') }}
{% endblock %}
