{% extends 'wizard/layout.html.twig' %}

{% block wizard_content %}
    <div class="card-body text-center py-4 p-sm-6">
        <h1 class="mt-2">{{ 'wizard.password.title'|trans({}, 'wizard') }}</h1>
        <p class="text-body-secondary">{{ 'wizard.password.description'|trans({}, 'wizard') }}</p>
    </div>
    <div class="hr-text hr-text-center hr-text-spaceless">{{ 'wizard.separator'|trans({}, 'wizard') }}</div>
    <div class="card-body">
        <div class="mb-3">
            {{ form_rest(form) }}
        </div>
    </div>
{% endblock %}
