{% extends 'security/self-registration/layout.html.twig' %}

{% block login_form %}

    <p>
        {{ 'registration.confirmed'|trans({'%username%': user.username}, 'AdminLTEBundle') }}
    </p>

{% endblock %}

{% block login_actions %}
    <br>
    <a href="{{ path('homepage') }}">
        {{ 'Show homepage'|trans({}, 'AdminLTEBundle') }}
    </a>
{% endblock %}
