{% extends 'security/self-registration/layout.html.twig' %}

{% block login_form %}
    <p>
        {{ 'registration.confirmed'|trans({'%username%': user.username}, 'TablerBundle') }}
    </p>
{% endblock %}

{% block login_actions %}
    <div class="text-center text-body-secondary mt-3">
        <a href="{{ path('homepage') }}">
            {{ 'Show homepage'|trans({}, 'TablerBundle') }}
        </a>
    </div>
{% endblock %}
