{#
    Tooltip content for a DayAddon in the working time overview.
    @see contract/status.html.twig

    Plugins can override this template to customize tooltip rendering.
    Use addon.getAttribute('key') to access plugin-specific data.

    Available variables:
    - addon: The DayAddon object
    - decimal: Whether to use decimal time format

    Example attributes:
    - 'comment': Additional comment text
    - 'destination': Travel destination for business trips
    - 'participants': Array of participant names
    - 'half_day': Boolean flag for half-day entries

    Example override in a plugin:
    YourBundle/Resources/views/contract/_status_day_tooltip.html.twig
#}
{% autoescape false %}
{{- addon.title|trans|e('html') -}}
{%- if addon.visibleDuration > 0 %} ({{ addon.visibleDuration|duration(decimal) }}){% endif -%}
{%- if addon.getAttribute('comment') %}<br><span class='tooltip-comment'>{{ addon.getAttribute('comment')|e('html') }}</span>{% endif -%}
{% endautoescape %}
