{% extends 'emails/layout.html.twig' %}

{% block title %}
    {{ subject|trans({}, 'email') }}
{% endblock %}

{% block body %}
    <p>{{ body|trans({}, 'email') }}<p>

    <spacer size="16"></spacer>

    <p><small>{{ 'automated_email_dont_answer'|trans({}, 'email') }}</small></p>
{% endblock %}
