{% apply inky_to_html|inline_css(source('@css/emails.css')) %}
    <style type="text/css">
        body, html, .body {
            background: #f3f3f3 !important;
        }
        .container.header {
            background: #f3f3f3;
        }
    </style>

    <spacer size="32"></spacer>

    <container class="header">
        <row>
            <columns>
                <h1 class="text-center">{% block title %}{% endblock %}</h1>
            </columns>
        </row>
    </container>

    <container class="body-border">
        <row>
            <columns>
                <spacer size="32"></spacer>
                {% block body %}{% endblock %}
            </columns>
        </row>
    </container>
{% endapply %}
