{% extends 'emails/layout.html.twig' %}

{% block title %}
    {{ 'reset.title'|trans({'%username%': user.displayName}, 'email') }}
{% endblock %}

{% block body %}
    <p>{{ 'reset.intro'|trans({'%username%': user.displayName, '%email%': user.email}, 'email') }}<p>

    <spacer size="16"></spacer>

    <button class="rounded primary" href="{{ confirmationUrl }}">{{ 'reset.button'|trans({'%url%': confirmationUrl}, 'email') }}</button>
{% endblock %}
