<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head></head>
<body class="ajax-forms">
<div id="ajax-messages">
    {{ include('@AdminLTE/Partials/_flash_messages.html.twig') }}
</div>
<div id="ajax-form">
    {{ block('main') }}
</div>
</body>
