<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <title>{% block page_title %}{{- get_title() -}}{% endblock %}</title>
</head>
<body class="ajax-forms">
<div id="ajax-messages">
    {{ include('@theme/includes/flash_messages.html.twig') }}
</div>
<div id="ajax-form">
    {{ block('main') }}
</div>
</body>
