{% extends 'base.html.twig' %}
{% import "macros/widgets.html.twig" as widgets %}

{% block page_title %}{{ 'menu.reporting'|trans }}{% endblock %}
{% block page_subtitle %}{% block report_title %}{% endblock %}{% endblock %}
{% block page_actions %}
    {% set event = actions(app.user, 'reporting', 'index') %}
    {{ widgets.page_actions(event.actions) }}
{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-md-12" id="reporting-content">
            {% block report %}{% endblock %}
        </div>
    </div>
{% endblock %}
