includes:
  - %rootDir%/../phpstan-symfony/extension.neon
  - %rootDir%/../phpstan-symfony/rules.neon
  - %rootDir%/../phpstan-doctrine/extension.neon
  - %rootDir%/../phpstan-doctrine/rules.neon
  - %rootDir%/../phpstan-deprecation-rules/rules.neon
  - %rootDir%/../phpstan-strict-rules/rules.neon
  - %rootDir%/../phpstan/conf/bleedingEdge.neon

parameters:
  level: 8
  excludePaths:
    - vendor/(?)
    - tests/(?)
  scanDirectories:
    - Migrations/
  treatPhpDocTypesAsCertain: false
  inferPrivatePropertyTypeFromConstructor: true
  doctrine:
    allowNullablePropertyForRequiredField: true
