{#
    This template is used to render errors of type HTTP 403 (Forbidden)

    This is the simplest way to customize error pages in Symfony applications.
    In case you need it, you can also hook into the internal exception handling
    made by Symfony. This allows you to perform advanced tasks and even recover
    your application from some errors.
    See http://symfony.com/doc/current/cookbook/controller/error_pages.html
#}

{% extends 'base.html.twig' %}

{% block body_id 'error' %}

{% block main %}
    <h1 class="text-danger"><i class="fa fa-unlock-alt"></i> {{ 'http_error.name'|trans({ '%status_code%': 403 }) }}</h1>

    <p class="lead">
        {{ 'http_error_403.description'|trans }}
    </p>
    <p>
        {{ 'http_error_403.suggestion'|trans }}
    </p>
{% endblock %}

{% block sidebar %}
    {{ parent() }}
{% endblock %}
