{% extends 'security/password-reset/layout.html.twig' %}

{% block login_form %}

    <p>
        {{ 'resetting.check_email'|trans({'%tokenLifetime%': tokenLifetime|duration})|nl2br }}
    </p>

{% endblock %}


