{% extends 'security/password-reset/layout.html.twig' %}

{% block login_form %}

    {{ form_start(form, { 'action': path('resetting_reset', {'token': token}), 'attr': { 'class': 'resetting_reset' } }) }}
    {{ form_widget(form) }}

    <div class="row">
        <div class="col-xs-12">
            <button type="submit" class="btn btn-primary">{{ 'Reset your password'|trans({}, 'TablerBundle') }}</button>
        </div>
    </div>

    {{ form_end(form) }}

{% endblock %}
