{% set teams = data %}
{% set title = options.title|default(title|default('teams')) %}

{% embed 'dashboard/widget.html.twig' with {fullsize: true} %}
    {% import "macros/widgets.html.twig" as widgets %}
    {% block box_body %}
        <div class="box-body-scrollable">
            {{ widgets.team_list(teams, {title: false}) }}
        </div>
    {% endblock %}
{% endembed %}
