{% set teams = data %}
{% set title = options.title|default(title|default('label.teams')) %}
{% set widgetId = options.id %}

{% if teams|length > 0 %}
<div class="row">
    <div class="col-md-12">
        {% embed '@AdminLTE/Widgets/box-widget.html.twig' with {'border': false} %}
            {% import "macros/widgets.html.twig" as widgets %}
            {% block box_title %}{{ title|trans }}{% endblock %}
            {% block box_attributes %}id="{{ widgetId }}"{% endblock %}
            {% block box_body_class %}no-padding{% endblock %}
            {% block box_body %}
                {{ widgets.team_list(teams, false) }}
            {% endblock %}
        {% endembed %}
    </div>
</div>
{% endif %}